labels:
  app: MySql
  project: Robot-Shop
  technology: MySql-Database
  environment: default  

configMap:
  mysqlmaster:  
    name: mysql-master-configmap
    
    data:
      my.cnf: |
        [mysqld]
        server-id=1
        log_bin=mysql-bin
        binlog_do_db=mydb
        enforce_gtid_consistency=ON
        gtid_mode=ON
        log_slave_updates=ON
        read_only=OFF

  mysqlslave:
    name: mysql-slave-configmap
    
    data:
      my.cnf: |
        [mysqld]
        log_bin=mysql-bin
        binlog_do_db=mydb
        enforce_gtid_consistency=ON
        gtid_mode=ON
        log_slave_updates=ON
        read_only=ON

statefulset:
  mysqlmaster:
    name: mysql-master

    replicas: 1

    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        maxSurge: 
        
    volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: default
        resources:
          requests:
            storage: 1Gi  

    pod:
      nodeSelector:
        project: Robot-Shop

      volumes:
      - name: config
        configMap:
          name: mysql-master-config
  
      container:  
        image:
          repo: ${REPO}            # <-- placeholder
          version: ${IMAGE_TAG}    # <-- placeholder
          pullPolicy: Always

        port: 3306

        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_ROOT_PASSWORD

        - name: MYSQL_REPLICATION_USER
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_USER

        - name: MYSQL_REPLICATION_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_PASSWORD

        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql

        - name: config
          mountPath: /etc/mysql/conf.d

  mysqlslave:
    name: mysql-slave

    replicas: 1

    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        maxSurge: 
        
    volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: default
        resources:
          requests:
            storage: 1Gi  

    pod:
      nodeSelector:
        project: Robot-Shop

      volumes:
      - name: config
        configMap:
          name: mysql-master-config
  
      container:  
        command: 
        - "sh"
        - "-c"
        - |
          server_id=$(HOSTNAME | awk -F'-' '{print $3}')
          echo "server-id=$server_id" >> /etc/mysql/conf.d/my.cnf
          until mysql -h $MASTER_HOST -u root -p$MYSQL_ROOT_PASSWORD -e "SELECT 1"; do sleep 5; done
          mysql -h $MASTER_HOST -u root -p$MYSQL_ROOT_PASSWORD \
              -e "CHANGE MASTER TO MASTER_HOST='$MASTER_HOST', MASTER_USER='repl', MASTER_PASSWORD='$MYSQL_REPL_PASSWORD', MASTER_AUTO_POSITION=1; START SLAVE;"
          exec mysqld

        image:
          repo: ${REPO}            # <-- placeholder
          version: ${IMAGE_TAG}    # <-- placeholder
          pullPolicy: Always

        port: 3306

        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_ROOT_PASSWORD

        - name: MYSQL_REPLICATION_USER
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_USER

        - name: MYSQL_REPLICATION_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_PASSWORD

        - name: MASTER_HOST
          value: mysql-master-service-headless 

        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql

        - name: config
          mountPath: /etc/mysql/conf.d

job:
  mysqlmaster:
    name: mysql-master
    pod:
      restartPolicy: OnFailure

      nodeSelector:
        project: Robot-Shop
      
      container:
        image:
          repo: ${REPO}            # <-- placeholder
          version: ${IMAGE_TAG}    # <-- placeholder
          pullPolicy: Always

        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_CITIES_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_CITIES_PASSWORD
        - name: MYSQL_RATINGS_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_RATINGS_PASSWORD
        - name: MYSQL_HOST
          value: mysql-master-service-headless

service:
  mysqlmaster:
    name: mysql-master-service-headless

    type: ClusterIP

    ports:
    - name: mysql
      port: 3306
      targetPort: 3306

  mysqlslave:
    name: mysql-slave-service-headless

    type: ClusterIP

    ports:
    - name: mysql
      port: 3306
      targetPort: 3306