microservice: mysql

labels:
  app: MySql
  project: Robot-Shop
  technology: MySql-Database
  environment: default   

statefulset:
  replicas: 1

  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      maxUnavailable: 1
      maxSurge: 
      
  volumeClaimTemplates:
  - metadata:
      name: mysql-data
    spec:
      accessModes: [ "ReadWriteOnce" ]
      storageClassName: standard
      resources:
        requests:
          storage: 1Gi  

  pod:
    nodeSelector:
      project: Robot-Shop
 
    container:  
      image:
        repo: ${REPO}            # <-- placeholder
        version: ${IMAGE_TAG}    # <-- placeholder
        pullPolicy: Always

      port: 3306

      env:
      - name: MYSQL_ROOT_PASSWORD
        valueFrom: 
          secretKeyRef:
            name: mysql
            key: MYSQL_ROOT_PASSWORD

      volumeMounts:
      - name: mysql-data
        mountPath: /var/lib/mysql

job:
  pod:
    restartPolicy: OnFailure

    nodeSelector:
      project: Robot-Shop
    
    container:
      image:
        repo: ${REPO}            # <-- placeholder
        version: ${IMAGE_TAG}    # <-- placeholder
        pullPolicy: Always

      env:
      - name: MYSQL_ROOT_PASSWORD
        valueFrom: 
          secretKeyRef:
            name: mysql
            key: MYSQL_ROOT_PASSWORD
      - name: MYSQL_CITIES_PASSWORD
        valueFrom: 
          secretKeyRef:
            name: mysql
            key: MYSQL_CITIES_PASSWORD
      - name: MYSQL_RATINGS_PASSWORD
        valueFrom: 
          secretKeyRef:
            name: mysql
            key: MYSQL_RATINGS_PASSWORD

service:
  name: mysql-service-headless

  type: ClusterIP

  ports:
  - name: mysql
    port: 3306
    targetPort: 3306