labels:
  app: MySql
  project: Robot-Shop
  technology: MySql-Database
  environment: default  

configMap:
  mysqlmaster:  
    name: mysql-master-config
    
    data:
      my.cnf: |
        [mysqld]
        server-id=1
        log_bin=mysql-bin
        binlog_do_db=mydb
        enforce_gtid_consistency=ON
        gtid_mode=ON
        log_slave_updates=ON
        read_only=OFF

  mysqlslave:
    name: mysql-slave-config
    
    data:
      my.cnf: |
        [mysqld]
        log_bin=mysql-bin
        binlog_do_db=mydb
        enforce_gtid_consistency=ON
        gtid_mode=ON
        log_slave_updates=ON
        read_only=ON

statefulset:
  mysqlmaster:
    name: mysql-master

    replicas: 1

    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        
    volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: default
        resources:
          requests:
            storage: 1Gi  

    pod:
      nodeSelector:
        project: Robot-Shop

      volumes:
      - name: config
        configMap:
          name: mysql-master-config
  
      containers:  
      - name: mysql-master

        image: ${IMAGE}  # <-- placeholder

        imagePullPolicy: Always

        ports:
        - containerPort: 3306

        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_ROOT_PASSWORD

        - name: MYSQL_REPLICATION_USER
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_USER

        - name: MYSQL_REPLICATION_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_PASSWORD

        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql

        - name: config
          mountPath: /etc/mysql/conf.d

  mysqlslave:
    name: mysql-slave

    replicas: 1

    updateStrategy:
      type: RollingUpdate
      rollingUpdate:
        maxUnavailable: 1
        
    volumeClaimTemplates:
    - metadata:
        name: mysql-data
      spec:
        accessModes: [ "ReadWriteOnce" ]
        storageClassName: default
        resources:
          requests:
            storage: 1Gi  

    pod:
      nodeSelector:
        project: Robot-Shop

      volumes:
      - name: config
        configMap:
          name: mysql-slave-config
      - name: writable-config
        emptyDir: {}

      initContainers:
      - name: mysql-slave-init
        volumeMounts:
            - name: config
              mountPath: /mnt/mysql/conf.d

            - name: writable-config
              mountPath: /etc/mysql/conf.d

        image: ${IMAGE}  # <-- placeholder
        
        command:
        - "sh"
        - "-c"
        - |
          echo "Preparing MySQL slave config"
          cp /mnt/mysql/conf.d/my.cnf /etc/mysql/conf.d/my.cnf
          server_id=$(echo "$HOSTNAME" | awk -F'-' '{print $3}')
          echo "server-id=$server_id" >> /etc/mysql/conf.d/my.cnf
          until mysql -h $MASTER_HOST -u root -p$MYSQL_ROOT_PASSWORD -e "SELECT 1"; do sleep 5; done
          mysql -h $MASTER_HOST -u root -p$MYSQL_ROOT_PASSWORD \
              -e "STOP REPLICA; \
              CHANGE REPLICATION SOURCE TO \
              SOURCE_HOST='$MASTER_HOST', \
              SOURCE_USER='$MYSQL_REPLICATION_USER', \
              SOURCE_PASSWORD='$MYSQL_REPLICATION_PASSWORD', \
              SOURCE_AUTO_POSITION=1; \
              START REPLICA;"

        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_ROOT_PASSWORD

        - name: MYSQL_REPLICATION_USER
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_USER

        - name: MYSQL_REPLICATION_PASSWORD
          valueFrom:
            secretKeyRef:
              name: mysql
              key: MYSQL_REPL_PASSWORD

        - name: MASTER_HOST
          value: mysql-master-service-headless
  
      containers:  
      - name: mysql-slave

        image: ${IMAGE}  # <-- placeholder

        imagePullPolicy: Always

        ports:
        - containerPort: 3306

        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_ROOT_PASSWORD

        volumeMounts:
        - name: mysql-data
          mountPath: /var/lib/mysql

        - name: writable-config
          mountPath: /etc/mysql/conf.d

job:
  mysqlmaster:
    name: mysql-master

    pod:
      restartPolicy: OnFailure

      nodeSelector:
        project: Robot-Shop
      
      containers:
      - name: setup-users-and-data

        image: ${IMAGE}  # <-- placeholder

        command: 
        - "/bin/sh"
        - "-c"
        - |
          until mysql -h $MYSQL_HOST -u root -p"$MYSQL_ROOT_PASSWORD" -e "SELECT 1"; do echo 'Waiting...'; sleep 5; done
          echo 'MySQL is up - executing commands'
          echo 'Inserting initial data...'
          mysql -h $MYSQL_HOST -u root -p"$MYSQL_ROOT_PASSWORD" < /docker-scripts/10-dumps.sql
          mysql -h $MYSQL_HOST -u root -p"$MYSQL_ROOT_PASSWORD" < /docker-scripts/20-ratings.sql
          echo 'Data inserted.'
          echo 'Creating users...'
          mysql -h $MYSQL_HOST -u root -p"$MYSQL_ROOT_PASSWORD" -e "CREATE USER IF NOT EXISTS 'ratings'@'%' IDENTIFIED BY '${MYSQL_RATINGS_PASSWORD}'; GRANT ALL PRIVILEGES ON ratings.* TO 'ratings'@'%'; CREATE USER IF NOT EXISTS 'shipping'@'%' IDENTIFIED BY '${MYSQL_SHIPPING_PASSWORD}'; GRANT ALL PRIVILEGES ON cities.* TO 'shipping'@'%';"
          echo 'Users created.'

        env:
        - name: MYSQL_ROOT_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_ROOT_PASSWORD
        - name: MYSQL_CITIES_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_CITIES_PASSWORD
        - name: MYSQL_RATINGS_PASSWORD
          valueFrom: 
            secretKeyRef:
              name: mysql
              key: MYSQL_RATINGS_PASSWORD
        - name: MYSQL_HOST
          value: mysql-master-service-headless

service:
  mysqlmaster:
    name: mysql-master-service-headless

    clusterIP: None

    ports:
    - name: mysql
      port: 3306
      targetPort: 3306

  mysqlslave:
    name: mysql-slave-service-headless

    clusterIP: None

    ports:
    - name: mysql
      port: 3306
      targetPort: 3306